@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495e;
}

.rwd-table {
  background: #46637f;
  color: rgb(255, 255, 255);
  border-radius: 0.4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}
.main-header {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}
.header-actions-container {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  border: #2a6288 solid 1px;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.search-bar-input {
  all: unset;
  background-color: azure;
  color: #181b1b;
  flex-basis: 75%;
  padding-left: 1rem;
  font-size: 1.1rem;
  height: 30px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search-bar-input-btn {
  all: unset;
  width: 40px;
  background-position: center;
  cursor: pointer;
  background-color: azure;
}

.search-bar-input-btn {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.btn-user-pos {
  all: unset;
  height: 30px;
  background-position: center;
  cursor: pointer;
  background-color: azure;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  border: #2a6288 solid 1px;
}

.saved-locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-locations-title {
  all: unset;
}
.table-btn {
  
  cursor: pointer;
  background-color: azure;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  border: #2a6288 solid 1px;
}
.place-name {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
}
.my-location {
  width: 62px;
  height: 53px;
  background: rgb(224, 217, 217);
  background: linear-gradient(
    90deg,
    rgb(186, 179, 179) 2%,
    rgba(251, 251, 251, 1) 9%
  );

  cursor: pointer;
}
@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}
